# 测试环境配置
VITE_DYNAMIC_ENVIRONMENT_ID=2bc61908-4f6f-479b-9eb6-c5fa1c346003
VITE_MODE=production

# production
PC_CDN_ASSETS_PATH=web/pc
MOBILE_CDN_ASSETS_PATH=web/m

# pre
PC_CDN_ASSETS_PATH=web-pre/pc
MOBILE_CDN_ASSETS_PATH=web-pre/m

# test
PC_CDN_ASSETS_PATH=web-test/pc
MOBILE_CDN_ASSETS_PATH=web-test/m

# local
PC_CDN_ASSETS_PATH=
MOBILE_CDN_ASSETS_PATH=