    .ani-image {
        animation: float-1 6s ease-in-out infinite;
    }
    
    @keyframes float-2 {
        0% {
            transform: scale(1, 1, 1);
        }
        30% {
            transform: scale(1.1, 1.1, 1);
        }
        100% {
            transform: scale(1, 1, 1);
        }
    }