.page-bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 540px;
    height: 670px;

    .img {
        position: absolute;
        background: url(../../assets/images/article-1/image-96.png) no-repeat center center;
        background-size: cover;
        animation: float-2 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    .img1 {
        top: 0;
        right: 317px;
        background-image: url(../../assets/images/article-1/image-96.png);
        width: 224.25px;
        height: 171px;
        animation: float-2 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    .img2 {
        top: 50px;
        right: 180px;
        background-image: url(../../assets/images/article-1/image-99.png);
        width: 148.293px;
        height: 148.105px;
        animation: float-2 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    .img3 {
        top: 40px;
        right: 20px;
        background-image: url(../../assets/images/article-1/image-88.png);
        width: 150.329px;
        height: 177.862px;
        animation: float-2 6s cubic-bezier(0.4, 0, 0.6, 1)infinite;
    }

    .img4 {
        top: 0px;
        right: 0px;
        width: 196px;
        height: 196px;
        background-image: url(../../assets/images/article-1/image-102.png);

        background-size: contain;
        background-position: right center;
    }

    .img5 {
        top: 256px;
        right: 131px;

        background-image: url(../../assets/images/article-1/image-91.png);
        width: 66.852px;
        height: 66.6px;
        animation: float-1 6s ease-in-out infinite;
    }

    .img6 {
        top: 221px;
        right: -29px;
        background-image: url(../../assets/images/article-1/image-92.png);
        width: 141.75px;
        height: 140.25px;
        background-size: contain;
        animation: float-1 6s ease-in-out infinite;
    }

    .img7 {
        top: 300px;
        right: 140px;

        background-image: url(../../assets/images/article-1/image-101.png);
        width: 199.979px;
        height: 184.097px;

        animation: float 6s ease-in-out infinite;
    }

    .img8 {
        top: 371px;
        right: 0px;
        width: 129.416px;
        height: 166.835px;
        background-image: url(../../assets/images/article-1/image-100.png);

        background-size: contain;
        background-position: right center;
        animation: float-1 6s ease-in-out infinite;
    }

    .img9 {
        top: 428px;
        right: 206px;

        background-image: url(../../assets/images/article-1/image-94.png);
        background-size: contain;
        width: 256px;
        height: 274px;

        animation: float-1 6s ease-in-out infinite;
    }


    .img10 {
        top: 500px;
        right: 183px;

        background-image: url(../../assets/images/article-1/image-108.png);
        width: 87.536px;
        height: 83.527px;

        animation: float-1 6s ease-in-out infinite;
    }

    .img11 {
        top: 420px;
        right: 38px;
        background-image: url(../../assets/images/article-1/image-87.png);
        width: 172.049px;
        height: 247.795px;

        animation: float-1 6s ease-in-out infinite;
    }

    .img12 {
        top: 505px;
        right: 0px;
        background-image: url(../../assets/images/article-1/image-84.png);
        width: 72px;
        height: 184.558px;

        animation: float-1 6s ease-in-out infinite;
    }

    &::before {
        z-index: 1;
        position: absolute;
        content: '';
        display: block;
        top: -390px;
        left: -400px;
        width: 1080px;
        height: 669.9px;
        background: radial-gradient(53.97% 53.97% at 50% 46.03%, #0C1116 38.98%, rgba(12, 17, 22, 0.15) 76.35%, rgba(12, 17, 22, 0.00) 100%);
    }


    &::after {
        z-index: 1;
        position: absolute;
        content: '';
        display: block;
        bottom: -430px;
        right: -300px;
        width: 1080px;
        height: 669.9px;
        background: radial-gradient(53.97% 53.97% at 50% 46.03%, #0C1116 38.98%, rgba(12, 17, 22, 0.15) 76.35%, rgba(12, 17, 22, 0.00) 100%);
        transform: rotateX(180);
        transform-origin: center center;
    }

    @keyframes float {
        0% {
            transform: translate3d(0, 0, 0);
        }
        50% {
            transform: translate3d(-20px, -25px, 0);
        }
        100% {
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes float-1 {
        0% {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
        50% {
            transform: translate3d(-5px, -10px, 0);
            opacity: 0.5;
        }
        100% {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    @keyframes float-2 {
        0% {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
        30% {
            transform: translate3d(-2px, -5px, 0);
            opacity: 0.5;
        }
        30% {
            transform: translate3d(2px, 5px, 0);
        }
        100% {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }
}