.logo {
  background: url(../assets/images/icons/logo-white.png) left center no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
}

.signin-btn {
  border: none;
  border: 1px solid #ffffff;
  background-color: transparent;
}

.menu {
    background: url(../assets/images/icons/menu-close.svg) center center no-repeat;
    background-size: 15px auto;

    &.open {
        background-image: url(../assets/images/icons/menu-open.svg);
    }
}

.nav {
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);
}