.color-bg {
  background-image: linear-gradient(
      135deg,
      #ffc4f5 0%,
      #00c6e1 25%,
      #21ffa2 50%,
      #4553fa 75%,
      #ffc4f5 100%
    );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scroll-content-1 {
  animation: scroll 5s linear infinite; /* 使用动画 scroll */
}

.scroll-content-2 {
  animation: scroll 6s linear infinite; /* 使用动画 scroll */
}

.scroll-content-3 {
  animation: scroll 5s linear infinite; /* 使用动画 scroll */
}

@keyframes scroll {
  0% {
    transform: translateX(0); /* 初始位置在最右侧 */
  }
  100% {
    transform: translateX(-100%); /* 最终位置在最左侧 */
  }
}