.usage {
    color: rgba(#fff, 0.45);
    .card {
        border-radius: 16px;
        background: linear-gradient(to bottom, rgba(#fff, 0.01), rgba(#fff, 0.04));
    }

    .small-card-1, .small-card-2 {
        position: relative;
  
        width: 584px;
        height: 316px;
        box-sizing: border-box;
        padding: 31px;


        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-position: right center;
            background-size: auto 100%;
            background-repeat: no-repeat;
        }
    }

      .small-card-1::before {
        background-image: url(../assets/images/usage-2.svg);
      }

      .small-card-2::before {
        background-image: url(../assets/images/usage-3.svg);
      }
}