.voting-curve {
    margin-top: 150px;
    width: 1200px;
    height: 490px;
    border: 1px solid #ffffff;
    font-size: 24px;
    line-height: 32px;


    .score {
        font-size: 40px;
    }
    
    .score-1 {
        color: linear-gradient(to right, #ff0000 0%, #00ff00 50%,  #0000ff 100%);
    }

}