:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, html, body, h1, h2, h3, h4, h5  {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  width: 100vw;
  box-sizing: content-box;
}

.main {
  width: 300px;
}

.guide-line {
  width: 24px;
  // margin-right: 32px;
}

.title-1 {
  /* height: 32px; */
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
}

.title-2 {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.color-cyan {
   color: #33B3AE;
}

.color-green {
  color: #00AA51;
}

.color-blue {
   color: #3857F8;
}

.color-purple {
  color: #F838AB;
}

.card {
  position: relative;
  border-radius: 16px;
  padding: 16px;
  box-sizing: border-box;

  &::after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    // background: url(./assets/images/card-bg.svg) no-repeat center center;
    z-index: 1;
  }
}

.bg-blur {
  &::before {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.04));
  }
}

.card-border-1 {
  border-radius: 16px;
  border-color: rgba($color: #eff6ff, $alpha: 0.11);
  border-width: 1px;
  border-style: solid;
}

.card-border-2 {
  border-radius: 16px;
  border-style: solid;
  @apply rounded-2xl border border-blue-50/[.11] bg-white/[.1];
}

.card-border-3 {
  border-style: solid;
  @apply flex-shrink-0 w-72 rounded-2xl border border-[#70767c]
}

button:disabled {
  background-color: #808080; /* Change the background color for disabled state */
  color: #555; /* Change the text color for disabled state */
  cursor: not-allowed; /* Change the cursor to indicate that the button is not clickable */
}






