.chart {
    .icon-1 {
        width: 46.3px;
        height: 45.6px;
        background: url(../../assets/images/article-2/1-2.png) no-repeat center center;
        background-size: contain;
    }

    .icon-2 {
        width: 50px;
        height: 54.5px;
        background: url(../../assets/images/article-2/1-1.png) no-repeat center center;
        background-size: contain;
    }
}