#root {
  background-image: url(@/assets/images/page-bg.svg);
  background-position: right top;
  background-size: 800px auto;
  background-repeat: no-repeat;
  font-size: 20px;
  line-height: 24px;
  color: rgba($color: #fff, $alpha: 0.45);
}

