    .ani-image {
        animation: float-1 6s ease-in-out infinite;
    }
    
    @keyframes float-2 {
        0% {
            transform: translate3d(0, 0, 0) scale(1, 1, 1);
        }
        30% {
            transform: translate3d(1px, 1px, 0) scale(0.8, 0.8, 1);
        }
        100% {
            transform: translate3d(0, 0, 0) scale(1, 1, 1);
        }
    }