.guide-line {
    .color-2 {
          background: linear-gradient( to bottom, rgba(0, 170, 81, 1), rgba(40, 177, 154, 1) 77%, rgba(51, 179, 174, 1) );
    }
    .color-3 {
        background: linear-gradient(to bottom, #33b3ae, #33b3ae 38%, #f838ab);
    }
    .color-4 {
        background: linear-gradient(to bottom, rgba(248, 56, 171, 1), rgba(248, 56, 171, 1) 80%, rgba(56, 87, 248, 1) 100%);
    }

    .color-5 {
        background: linear-gradient(to bottom, rgba(56, 87, 248, 1), rgba(56, 87, 248, 1) 92%, rgba(56, 87, 248, 0) 100% );
    }
}