.card {
    .linear {
        background: linear-gradient(to right,  rgba(248, 56, 171, 1) 0%, rgba(255, 255, 255, 1) 100% );
        color: transparent; /* 隐藏实际文本颜色，只显示背景 */
        background-clip: text;
    }

    .icon {
        width: 16px;
        height: 16px;
        display: block;
        background: url(../../assets/images/article-4/polygon.svg) left center no-repeat;
        background-size: 16px 16px;
        margin-right: 8px;
    }
}