.page-bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 375px;
    height: 240px;

    .img {
        position: absolute;
        background: url(../../assets/images/article-1/image-96.png) no-repeat center center;
        background-size: cover;
        animation: float-2 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    .img1 {
        top: 0;
        left: 23px;
        background-image: url(../../assets/images/article-1/image-96.png);
        width: 140px;
        height: 107px;
        animation: float-2 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    .img2 {
        top: 16px;
        left: 178px;
        background-image: url(../../assets/images/article-1/image-99.png);
        width: 92.4px;
        height: 92.3px;
        animation: float-2 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    .img3 {
        top: 32px;
        left: 270px;
        background-image: url(../../assets/images/article-1/image-88.png);
        width: 120px;
        height: 130px;
        animation: float-2 6s cubic-bezier(0.4, 0, 0.6, 1)infinite;
    }

    .img5 {
        top: 106px;
        left: 246px;

        background-image: url(../../assets/images/article-1/image-91.png);
        width: 41.5px;
        height: 41.5px;
        animation: float-1 6s ease-in-out infinite;
    }

    .img7 {
        top: 110px;
        left: 110px;

        background-image: url(../../assets/images/article-1/image-101.png);
        width: 160px;
        height: 160px;

        animation: float 6s ease-in-out infinite;
    }

    .img9 {
        top: 30px;
        left: -33px;

        background-image: url(../../assets/images/article-1/image-94.png);
        background-size: contain;
        width: 160px;
        height: 300px;

        animation: float-1 6s ease-in-out infinite;
    }


    .img10 {
        top: 157px;
        left: 286px;

        background-image: url(../../assets/images/article-1/image-108.png);
        width: 70px;
        height: 70px;

        animation: float-1 6s ease-in-out infinite;
    }

    &::before {
        z-index: 1;
        position: absolute;
        content: '';
        display: block;
        top: -350px;
        left: -400px;
        width: 800px;
        height: 600px;
        background: radial-gradient(53.97% 53.97% at 50% 46.03%, #0C1116 38.98%, rgba(12, 17, 22, 0.15) 76.35%, rgba(12, 17, 22, 0.00) 100%);
    }

    // &::after {
    //     z-index: 1;
    //     position: absolute;
    //     content: '';
    //     display: block;
    //     bottom: -430px;
    //     right: -300px;
    //     width: 1080px;
    //     height: 669.9px;
    //     // background: radial-gradient(53.97% 53.97% at 50% 46.03%, #0C1116 38.98%, rgba(12, 17, 22, 0.15) 76.35%, rgba(12, 17, 22, 0.00) 100%);
    //     transform: rotateX(180);
    //     transform-origin: center center;
    // }

    @keyframes float {
        0% {
            transform: translate3d(0, 0, 0);
        }
        50% {
            transform: translate3d(-5px, -8px, 0);
        }
        100% {
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes float-1 {
        0% {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
        50% {
            transform: translate3d(-2px, -3px, 0);
            opacity: 0.5;
        }
        100% {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    @keyframes float-2 {
        0% {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
        30% {
            transform: translate3d(-1px, -2px, 0);
            opacity: 0.5;
        }
        30% {
            transform: translate3d(1px, 2px, 0);
        }
        100% {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }
}