.logo {
  background: url(../../assets/images/icons/logo-light.png) left center no-repeat;
  background-size: 24px auto; 
}

.signin-btn {
  border: none;
  border: 1px solid #ffffff;
  background-color: transparent;
}