.logo {
  background: url(../../assets/images/icons/logo-text.jpeg) left center no-repeat;
  background-size: auto 16px; 
}

.signin-btn {
  border: none;
  border: 1px solid #ffffff;
  background-color: transparent;
}